<h1>LVL - Home</h1>

<%= link_to "Home", root_path  %>
<%= link_to "About", about_path  %>
<%= link_to "Extras", extras_path  %>
<%= link_to "Blog", blog_path  %>
<%= link_to "Contact", contact_path  %>



<p>
	This is my sample home page.
</p>
